[submodule "docker/easy-pwn"]
	path = docker/easy-pwn
	url = https://github.com/rmayobre/easy-pwn
[submodule "docker/wireguard-reverse-proxy"]
	path = docker/wireguard-reverse-proxy
	url = https://github.com/rmayobre/wireguard-reverse-proxy
